{% extends "home/home.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center my-5">
    {% if user.is_authenticated %}
    <div class="col-md-6">
        <form method="POST" action="{% url 'booktable' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    {% else %}
    <div class="col-md-6 text-center">
        <h1 class="display-4">Kindly log in to proceed with making a table booking.</h1>
        <hr class="my-4">
        <p>Sign up below to book your table booking.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Login</a>
            <a class="btn btn-info btn-lg" href="{% url 'account_signup' %}" role="button">SignUp</a>
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}
